html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

div#navigation {
    background: none;
    float: left;
    left: 0px;
    margin: 0px 0px 0px 18px;
    position: fixed;
    top: 0px;
    width: 102px;
}

div#navigation a {
    border: none;
    margin: 0px 6px 0px 6px;
}

div#content {
    margin: 12px;
}

@media all {

    div#navigation {
        background: none;
        float: left;
        left: 0px;
        margin: 0px 0px 0px 18px;
        position: fixed;
        top: 0px;
        width: 102px;
    }

    div#navigation h1, div#navigation a {
        display: block;
        text-align: right;
    }

    div#navigation a {
        color: #333;
        margin: 6px 0px 6px 0px;
    }

    div#content {
        margin: 0px 0px 0px 156px;
        padding: 0px 36px 0px 36px;
        width: 648px;
    }

    div#logo {
        margin: 0px 0px 0px 156px;
        padding: 0px 36px 0px 36px;
        width: 648px;
    }

    div#footer {
        margin: 0px 0px 0px 156px;
        padding: 0px 36px 0px 36px;
        width: 648px;
    }
}