html {
    background: #D0D0D0;
}

div#navigation {
    padding-bottom: 18px;
    text-align: center;
}

div#navigation a {
    margin: 0px 6px 0px 6px;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 14px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

@media all and (min-width: 974px) {

    html {
        background: #D0D0D0 url("../images/sidebar.jpg") repeat-y left top;
    }

    div#navigation {
        background: none;
        float: left;
        left: 0px;
        margin: 0px 0px 0px 18px;
        position: fixed;
        top: 0px;
        width: 100px;
    }

    div#navigation h1, div#navigation a {
        display: block;
        text-align: right;
    }

    div#navigation a {
        margin: 6px 0px 6px 0px;
        border-top: 2px;
    }

    div#content {
        margin: 0px 0px 0px 156px;
        padding: 0px 36px 0px 36px;
        width: 800px;
        overflow: auto;
    }
}